@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

:root {
  --light: #a239ca;
  --dark: #4717f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.inline{
  display: inline;
}

.light {
  color: var(--light);
}

.white {
  color: #e7dfdd;
}

html {
  scroll-behavior: smooth;
  background-color: #e7dfdd;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect--white:after {
  background-color: #e7dfdd;
}

.link__hover-effect--light:after {
  background-color: var(--light);
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.row {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.container {
  margin: 40px 0px;
  background-color: #e7dfdd;
}
/* 


NAV 


*/

#landing {
  background-color: #0e0b16;
  color: #e7dfdd;
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  padding: 0px 12px;
  margin-bottom: 28px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__image--wrapper {
  height: 50px;
  width: 50px;
}

.logo__image {
  width: 100%;
}

.logo__title {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 24px;
}

.nav__link--anchor {
  font-size: 18px;
  font-weight: 700;
}

.contact_btn {
  background-color: var(--light);
  border-radius: 9999px;
  padding: 8px 24px;
  border: none;
  color: #e7dfdd;
}

/* 

BROWSE 

*/

.browse {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin-bottom: 36px;
  font-size: 36px;
}

.input {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}

.input__box2 {
  width: 100%;
  margin-right: 28px;
  padding: 20px;
  border-radius: 9999px;
  border: 3px solid #0e0b16;
  color: #0a1f44;
  display: inline-block;
  font-size: 18px;
  outline: none;
  transition: all 200ms ease;
  background-color: #e7dfdd;
}

/* .input__box:hover{
    border: 3px solid var(--light);
} */

.input__box:focus-within {
  border: 3px solid var(--light);
}

.fa-magnifying-glass {
  position: absolute;
  color: var(--light);
  font-size: 24px;
  right: 60px;
}

/* SEARCH */

.search__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__tag {
  font-size: 24px;
}

.years__container {
  width: 30%;
  min-width: 335px;
}

.search__years {
  text-align: center;
}

/* 

RESULTS

*/

.results__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.result {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin: 10px;
}

.result--wrapper {
  width: fit-content;
  padding-top: 16px;
  margin-bottom: 32px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  transition: 0.3s;
  /* cursor: pointer; */

}

/* .result:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.poster__wrapper {
  width: 170px;
  height: 250px;
  margin-bottom: 8px;
}

.poster {
  width: 100%;
  height: 100%;
}

.result__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result:not(:nth-child(3n + 3)) {
  margin-right: 8px;
}

.result__title {
  color: #a239ca;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

.result__year {
  font-size: 18px;
  padding-bottom: 16px;
}

.result__type {
  font-size: 14px;
}

.result__imdb {
  font-size: 12px;
}


/* SPINNER */

.spinner{
  opacity: 0;
  visibility: none;
}

.fa-spinner {
  font-size: 128px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: var(--light);
  animation: spin 700ms infinite linear;

}

.movies__loading{
  opacity: 1;
  visibility: visible;
}


@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  95% {
      opacity: 1;
  }
  100% {
      transform: rotate(360deg);
  }
}