@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

:root{
    --light: #a239ca;
    --dark: #4717f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #e7dfdd;
}

.light{
    color: var(--light);
}

html {
  scroll-behavior: smooth;
  background-color: #0e0b16;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect--white:after {
    background-color: #e7dfdd;
}

.link__hover-effect--light:after {
  background-color: var(--light);
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.click {
cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  padding: 0px 12px;
  margin-bottom: 48px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__image--wrapper {
  height: 50px;
  width: 50px;
}

.logo__image {
  width: 100%;
}

.logo__title {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 24px;
}

.nav__link--anchor {
  font-size: 18px;
  font-weight: 700;
}

.contact_btn{
    background-color: var(--light);
    border-radius: 9999px;
    padding:8px 24px;
    border: none;
}
/* LANDING */

#landing{
    min-height: 100vh;
}
.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}


h1{
    font-size: 72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 24px;
}

h2{
    font-size: 26px;
    letter-spacing: 3;
    margin-bottom: 144px;
}

.input{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#input__box{
    width: 80%;
    margin-right: 28px;
    padding: 20px;
    border-radius: 9999px;
    border: 3px solid #0e0b16;
    color: #0a1f44;
    display: inline-block;
    font-size: 18px;
    outline: none;
    transition: all 200ms ease;
    background-color: #e7dfdd;
    
}

/* .input__box:hover{
    border: 3px solid var(--light);
} */

.input__box:focus-within{
    border: 3px solid var(--light);
}

.search{
    width: 20%;
    padding: 20px 0px;
    border-radius: 9999px;
    background-color: #e7dfdd;
    outline: none;
    border: none;
    transition: all 200ms ease;
    
}

.fa-magnifying-glass{
    color: var(--light);
    font-size: 24px;
}

.search:hover .fa-magnifying-glass{
    color: #e7dfdd;
}

.search:hover{
    background-color: var(--light);
}

